.hero {
  min-height: 576px;
  padding-bottom: 88px;
  background-image: url("../../assets/mainImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.main__search-section {
  margin-bottom: 0;
}

.main__results-section {
  margin-top: 0;
}

@media (min-width: 767px) {
  .hero img {
    width: 100%;
    height: auto;
    display: block;
  }
}
