.hero {
  height: 576px;
  padding-bottom: 88px;
  background-image: url("../../assets/mainImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
