.header {
  padding: 0 104px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
  .header {
    padding: 22px 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
}

@media (max-width: 450px) {
  .hero {
    width: 100%;
    min-height: 400px;
    padding-bottom: 48px;
    height: auto;
    display: block;
  }
}
