@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-400-regular.woff") format("woff");
}

.footer {
  height: 80px;
}

.footer__nav {
  display: flex;
  align-items: center;
  position: relative;
  padding: 30px 104px;
}

.footer__info {
  position: absolute;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(182, 188, 191, 1);
}

.footer__url {
  display: flex;
  margin-left: auto;
  list-style: none;
  padding: 0;
  gap: 40px;
}

.footer__links {
  display: flex;
  gap: 40px;
}

.footer__icons {
  display: flex;
  gap: 24px;
}

.footer__link {
  display: flex;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 1);
}

.footer__icon {
  display: flex;
  align-items: center;
  color: rgba(26, 27, 34, 1);
}

@media (max-width: 768px) {
  .footer__nav {
    padding: 20px 40px;
    margin: 0;
  }
  .footer__info {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }
  .footer__icon {
    padding: 0;
    margin: 0;
  }

  .footer__link {
    font-size: 18px;
    line-height: 24px;
  }

  .footer__link_home {
    margin-bottom: 16px;
  }
}

@media (max-width: 580px) {
  .footer__nav {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer__url {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px 0 38px 16px;
    width: 100%;
  }

  .about__info:last-of-type {
    margin-bottom: 128px;
  }

  .footer__links {
    flex-direction: column;
  }

  .footer__icons {
    flex-direction: row;
    margin-left: auto;
  }
}
