@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-400-regular.woff") format("woff");
}

.footer {
  height: 80px;
}

.footer-nav {
  display: flex;
  align-items: center;
}

.footer-info {
  margin: 32px 104px 26px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(182, 188, 191, 1);
}

.footer-url {
  display: flex;
  margin-left: auto;
  margin-right: 104px;
  list-style: none;
  padding: 0;
}

.footer-link {
  margin: 30px 0 26px 40px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 1);
}

.footer-icon {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 24px;
  margin-left: 24px;
  color: rgba(26, 27, 34, 1);
}

@media (max-width: 768px) {
  .footer {
  }
  .footer-info {
    font-size: 16px;
    line-height: 22px;
    margin: 24px 0 18px 40px;
  }
  .footer-icon {
    width: 20px;
    height: 20px;
  }

  .footer-link {
    font-size: 18px;
    line-height: 24px;
  }
}
